<div class="flex justify-between items-center w-full">
  <div class="flex flex-wrap w-min mx-2">
    <h1 class="w-full m-1 p-1 text-lg font-bold text-center">eCommerce</h1>
    <h2 class="w-max">Bienvenidos a la Segunda Pre Entrega</h2>
  </div>
  {{> nav}}
</div>