<form class="w-full" id="regProdForm">
  <h1 class="m-1 p-1 text-2xl border-b-2">Agregar producto</h1>
  <input type="text" name="title" id="title" placeholder="Titulo" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="text" name="description" id="description" placeholder="Descripcion" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="text" name="code" id="code" placeholder="Codigo" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="number" name="price" id="price" placeholder="Precio" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="number" name="stock" id="stock" placeholder="Disponibilidad" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="text" name="category" id="category" placeholder="Categoria" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <input type="file" name="thumbnail" id="thumbnail" class="w-full m-1 p-1 outline-none border-2 rounded" />
  <button class="w-full m-1 p-1 border-2 rounded">Agregar Producto</button>
</form>
<script src="/js/regProd.js"></script>
