{{> header }}

<div class="w-11/12 h-[calc(100%-160px)] m-auto overflow-y-auto bg-gray-200">
  <div class="h-96 text-center bg-red-200">
    Diapositivas
  </div>
  {{> productlist}}
</div>

{{> footer}}