{{> header }}

<div class="w-11/12 m-auto bg-white">
  <div class="flex justify-center items-center h-96 bg-red-100 text-gray-400">
    <p>Proximamente, diapositivas</p>
  </div>
  {{> productlist}}
</div>

{{> footer}}