{{> header}}

<div class="flex flex-wrap w-11/12 p-5 mx-auto bg-white">
  {{> dashboard}}
  {{> profilemenu}}
  <div class="w-8/12 p-1">
    <p class="my-1 p-1 text-center text-2xl">¡Te damos la bienvenida formal a eCommerce services!</p>
    <p class="my-1 p-1 text-center text-2xl">Aun estamos construyendo este sitio web, <br> gracias por ser uno de los primeros</p>
  </div>
</div>

{{> footer}}