<div class="flex justify-center items-center h-screen">
  <div class="flex flex-wrap justify-center w-min mx-auto">
    {{> logo}}
    <h1 class="w-max m-1">¡Estamos trabajando para ti!, <a href="/" class="text-gray-700 underline">volver al inicio</a>.</h1>
  </div>
</div>