<div class="min-h-screen w-11/12 mx-auto bg-gray-300">
  <h1 class="w-full py-3 text-3xl text-center">eCommerce</h1>
  <div class="flex flex-wrap">
    <div class="w-6/12" id="prodList">
      <h1 class="w-full text-center text-lg">Products</h1>
      
    </div>
    <div class="w-6/12">
      <h1 class="w-full text-center text-lg">Shopping Cart (<span id="counter">0</span> items)</h1>
      <table class="w-11/12 mx-auto my-2">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody id="cartList">
          <tr>
            <td>Samsung Galaxy A71</td>
            <td class="text-end">$600</td>
            <td class="text-end">2 u.</td>
            <td class="text-end">$1200</td>
          </tr>
          <tr>
            <td>Apple iPhone 14</td>
            <td class="text-end">$1100</td>
            <td class="text-end">3 u.</td>
            <td class="text-end">$3300</td>
          </tr>
          <tr>
            <td class="w-full text-end border-t-2" colspan="4">Total a pagar: $4500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/index.js"></script>