<div class="w-full h-40 mb-3 p-3 bg-gray-200 rounded-lg">
  <div class="flex items-end">
    <div class="h-32 w-32 mx-3 rounded-full border bg-gray-300 overflow-hidden">
      <img src="https://previews.123rf.com/images/yupiramos/yupiramos1709/yupiramos170930757/87002882-ilustraci%C3%B3n-de-vector-de-dibujos-animados-de-persona-de-personaje-joven-de-hombre-de-retrato.jpg" alt="#" />
    </div>
    {{#with user}}
      <h3 class="ms-4 mb-5 text-4xl">{{first_name}} {{last_name}}</h3>
    {{/with}}
  </div>
</div>