<div class="flex justify-between items-center w-full h-[80px] bg-yellow-200" id="header">
  {{> logo}}
  <div class="p-1">
    {{> searchbar}}
    {{> nav}}
  </div>
    <div class="flex items-center mx-3 text-sm font-semibold">
    {{#if user }}
        {{#with user}}
          <div class="relative h-[20px] hover:h-max overflow-hidden hover:overflow-visible">
            <p class="flex items-end cursor-pointer">¡Bienvenido {{first_name}}! 
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-4 ms-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </p>
            <div class="flex flex-wrap justify-end absolute w-52 -ml-14 p-1 pt-2">
              <div class="w-full p-1 bg-white border rounded-lg">
                <a class="w-full text-end hover:underline" href="/profile">
                  <p class="w-full my-2 px-2 py-2">Perfil</p>
                </a>
                <button class="w-full px-2 py-2 border bg-white rounded-lg" id="$Logout">Cerrar Sesion</button>
              </div>
            </div>
          </div>
        {{/with}}
    {{else}}
        <a href="/signup" class="px-2 py-2 hover:underline">Registrarse</a>
        <a href="/login" class="px-2 py-2 bg-white border-2 rounded-lg">Iniciar Sesion</a>
    {{/if}}
    {{>shoppingb}}
    </div>
</div>
<script>
  const $Logout = document.getElementById("$Logout")
  $Logout.addEventListener('click', async (e) => {
    e.preventDefault()
    
  const res = await fetch('/api/sessions/logout', {
    method: "POST",
  })
    if (res.status == 200) {
    Swal.fire({
      title: 'Sesion cerrada satisfactoriamente!',
      icon: 'success',
      timer: 2000,
      timerProgressBar: true,
      showConfirmButton: false
    })
    setTimeout(() => {
      window.location.href = '/'
    }, 2000)
  } else {
    let msg = ''
    if (data.cause) {
      for (const i of rej.cause) {
        const key = Object.keys(i)[0]
        msg += `${key}: ${i[key]} \n `
      }
    }
    Swal.fire({
      title: 'Error al intentar cerrar sesion',
      text: msg ? msg : '',
      icon: 'warning',
      showConfirmButton: true
    })
  }
  })
</script>