<div class="flex h-min mx-2">
  <a href="/" class="flex items-end m-1 p-1">
    <img src="/public/images/logo.png" alt="eCommerce" class="w-5 h-5 mb-1" />
    <h1 class="text-3xl font-bold">Commerce</h1>
  </a>
</div>