<div class="flex flex-wrap content-between w-full min-h-[calc(338px+8px)]">
  <div class="grid grid-flow-col auto-cols-max gap-1 w-full p-1" id="ProdList">
    
  </div>
</div>
<script src="/public/js/getproducts.js"></script>
<script src="/public/js/products.ui.js"></script>