<div class="w-11/12 h-screen mx-auto p-4 bg-white">
  <div class="flex flex-wrap content-between w-full h-full">
    <div class="flex flex-wrap w-full p-1" id="prodList">
      <a href="/product/:id" class="flex flex-wrap w-[280px] m-1 bg-white border rounded">
        <div class="flex justify-center items-center h-[260px] w-full bg-gray-100 border-b rounded overflow-hidden">
          <img src="https://media.es.wired.com/photos/6500b64ec39444b642c78a09/4:3/w_1913,h_1435,c_limit/Apple-iPhone-15-Pro-Hero-Gear.jpg" alt="alt" class="max-h-full max-w-full" />
        </div>
        <div class="w-full h-42 px-2">
          <div class="my-1 py-1">
            <h2 class="w-full m-1">Apple iPhone 15</h2>
            <p class="w-full m-1 text-xl text-center">$1200</p>
          </div>
        </div>
      </a>
      <a href="/product/:id" class="flex flex-wrap w-[280px] m-1 bg-white border rounded">
        <div class="flex justify-center items-center h-[260px] w-full bg-gray-100 border-b rounded overflow-hidden">
          <img src="https://media.es.wired.com/photos/6500b64ec39444b642c78a09/4:3/w_1913,h_1435,c_limit/Apple-iPhone-15-Pro-Hero-Gear.jpg" alt="alt" class="max-h-full max-w-full" />
        </div>
        <div class="w-full h-42 px-2">
          <div class="my-1 py-1">
            <h2 class="w-full m-1">Apple iPhone 15</h2>
            <p class="w-full m-1 text-xl text-center">$1200</p>
          </div>
        </div>
      </a>
    </div>
    <div class="flex justify-center items-center w-full m-1 bg-yellow" id="pagination"></div>
  </div>
</div>
<script src="/public/js/products.ui.js"></script>