<div class="flex flex-wrap content-between w-full h-full">
  <div class="flex flex-wrap w-full p-1" id="prodList">
    
  </div>
  <div class="flex justify-center items-center w-full m-1 bg-yellow" id="pagination"></div>
</div>
<script src="/public/js/getproducts.js"></script>
<script src="/public/js/products.ui.js"></script>