<div class="flex flex-wrap w-4/12 h-min p-1 bg-gray-200 rounded-lg">
  <a href="/profile" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-yellow-200">Inicio</a>
  <a href="/working" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-gray-300">Mis Compras</a>
  <a href="/sell" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-yellow-200">Publicar Producto</a>
  <a href="/working" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-gray-300">Mis Publicaciones</a>
  <a href="/working" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-gray-300">Mis Ventas</a>
  <a href="/working" class="w-full mx-1 my-2 ps-4 py-2 rounded-lg bg-gray-300">Configuraciones</a>
</div>