<div class="flex justify-between items-center w-full">
  {{> logo}}
</div>
<div class="w-[475px] p-1 m-auto bg-gray-400 rounded">
  <form class="flex flex-wrap justify-center w-full p-1 m-0 rounded" id="loginForm">
    <div class="flex items-center my-5 text-yellow-300">
      <svg fill="currentColor" class="h-16" viewBox="0 0 16 16">
        <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
      </svg>
      <h1 class="mx-7 text-4xl">Iniciar Sesion</h1>
    </div>
    <input type="email" class="w-11/12 px-2 py-1 my-2 border rounded outline-none" name="email" placeholder="Correo Electronico" />
    <input type="password" class="w-11/12 px-2 py-1 my-2 border rounded outline-none" name="password" placeholder="Contraseña" />
    <button type="submit" class="w-11/12 px-2 py-1 my-2 bg-yellow-300 border rounded">Iniciar Sesion</button>
  </form>
  <p class="text-center">O iniciar sesion con</p>
  <form class="flex flex-wrap justify-center w-full p-1 m-0 rounded" action="/api/sessions/github" method="get">
    <button type="submit" class="flex  justify-center items-center w-11/12 px-2 py-1 my-2 bg-yellow-300 border rounded">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5 mx-3" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
      </svg>
      Github
    </button>
  </form>
  <div class="m-2 pt-4 pb-2 border-t">
    <p class="text-center">¿Aun no tienes cuenta?. <a href="/signup" class="hover:underline">Registrarse</a></p>
  </div>
</div>
<script src="/public/js/login.js"></script>