{{> header }}
<div class="w-full bg-gray-100">
  <h1 class="w-full m-1 p-1 text-lg text-center">Productos</h1>
  <div class="w-11/12 mx-auto my-1 bg-white">
    <div class="flex flex-wrap w-full p-1" id="prodList"></div>
    <div class="flex justify-center items-center m-1" id="pagination"></div>
  </div>
</div>
{{!-- <script src="/public/js/products.ui.js"></script> --}}