<div>
  {{> regProd}}
   <div class="w-full">
    <h1 class="m-1 p-1 text-2xl border-b-2">Lista de productos (Real Time)</h1>
    <div id="prodList"></div>
  </div>
</div>
<script src="/js/realtimeproducts.js"></script>