<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if title}}{{title}} - {{/if}}eCommerce</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
    
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/public/js/main.js"></script>
  </head>
  <body class="h-screen">
    {{{body}}}
  </body>
</html>