<nav class="flex justify-center w-max h-min mx-2 p-2">
  <a href="/products" class="mx-2 text-sm text-gray-600 hover:text-gray-800 hover:underline">Productos</a>
  <a href="*" class="mx-2 text-sm text-gray-600 hover:text-gray-800 hover:underline" id="LinkToCart">Carrito de compras</a>
</nav>
<script>
  const $LinkToCart = document.getElementById('LinkToCart') $LinkToCart.href = `/carts/${cid}`
</script>