<nav class="flex justify-center w-max h-min mx-2 p-2">
  <a href="/products" class="mx-2 text-sm text-gray-600 hover:text-gray-800 hover:underline">Productos</a>
{{#if user}}
{{#with user}}
  <a href="/carts/{{cid}}" class="mx-2 text-sm text-gray-600 hover:text-gray-800 hover:underline" id="LinkToCart">Carrito de compras</a>
{{/with}}
{{/if}}
</nav>